---

name: Publish docs via GitHub Pages

concurrency: release-docs

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  push:
    branches:
    - 'docs-*'
    - main
    paths:
    - '.github/workflows/docs.yaml'
    - 'mkdocs.yaml'
    - 'docs/**'

jobs:
  deploy:
    runs-on: ubuntu-20.04
    if: github.event.pull_request.head.repo.fork == false
    steps:
      - name: Get k8s-at-home token
        id: get-app-token
        uses: getsentry/action-github-app-token@v1
        with:
          app_id: ${{ secrets.K8S_AT_HOME_APP_ID }}
          private_key: ${{ secrets.K8S_AT_HOME_APP_PRIVATE_KEY }}
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ steps.get-app-token.outputs.token }}
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - name: Configure Git
        run: |
          git config user.name "k8s-at-spiti[bot]"
          git config user.email "k8s-at-spiti[bot]@users.noreply.github.com"
      - run: |
          pip install -r requirements.txt
      - run: mkdocs gh-deploy --config-file ./mkdocs.yaml --force
